/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
    /* prevent webkit and ms mobile browsers from resizing text */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    height: 100%;
}

body {
    font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    height: 100%;
}

a:link {
    /* change the tap highlight color in webkit browsers */
    -webkit-tap-highlight-color: rgba(0,0,0,.2);
    text-decoration: none;
}

.standalone * {
    /* prevent press and hold context menus in standalone mode */
    -webkit-touch-callout: none;
}

/* forms */
.input-append, .input-prepend {
    z-index: 1;
}

input {
    box-sizing: border-box;
}

.full_width {
    width: 100%;
}

.full_width input {
    width: 100%;
}

.full_width.input-append input, .full_width.input-prepend input {
    width: 86%;
}

.full_width.input-append button, .full_width.input-prepend button {
    width: 14%;
}

.input-prepend-above input, 
.input-prepend-above select, 
.input-prepend-above .uneditable-input {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    margin-bottom: 10px;
}

.fieldset {
    margin-bottom: 1.2em;
}

/* tab_bar */

#tab_bar, .top_bar {
    /* prevent users from copy/pasting tab bar text in webkit browsers */
    -webkit-user-select: none;
}

#tab_bar {
    background: #555555; /* Old browsers */
    background: -moz-linear-gradient(top,  #555555 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #555555 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #555555 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #555555 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #555555 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    zoom: 1; /* hasLayout fix */

    border-top: 1px solid #222222;

    /* force above our full height pages */
    z-index: 9999;
}

#tab_bar:before, #tab_bar:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

#tab_bar:after {
    clear: both;
}

#tab_bar li {
    display: inline;
    float: left;
    width: 20%;

    background-image: url("../images/noise.png");
}

#tab_bar a {
    color: #bbbbbb;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    height: 5.6em;
    overflow: hidden;
    padding-top: .5em;
    position: relative;
    text-align: center;
    text-decoration: none;

    border-right: 1px solid #555555;
    border-left: 1px solid #333333;

    text-shadow: 0px 2px #000;
}

#tab_bar .icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: .4em 0 .6em 0;

    pointer-events:none;

    background-image: url("../images/tab_bar_icons.png");

    background-size: 150px;
}

#settings_icon  { background-position:    0px 0px; }
#favorites_icon { background-position:  -30px 0px; }
#routes_icon    { background-position:  -60px 0px; }
#invites_icon   { background-position:  -90px 0px; }
#lists_icon     { background-position: -120px 0px; }

.tab_selected #settings_icon  { background-position:    0px -30px; }
.tab_selected #favorites_icon { background-position:  -30px -30px; }
.tab_selected #routes_icon    { background-position:  -60px -30px; }
.tab_selected #invites_icon   { background-position:  -90px -30px; }
.tab_selected #lists_icon     { background-position: -120px -30px; }

#tab_bar li:first-child a {
    border-left: none;
}

#tab_bar li:last-child a {
    border-right: none;
}

#tab_bar .tab_selected a {
    color: #ffffff;
    border: none;

    box-shadow: inset 0px 0px 16px #000;

    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 0%, #444444 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#444444)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 0%,#444444 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 0%,#444444 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222222 0%,#444444 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 ); /* IE6-9 */


}

/* Pages */
#pages {
    height: 100%;
    position: relative;

    /* prevent momentary scrollbar when using sliding transition */
    overflow-x: hidden;
}

.page_wrapper {
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#map{
    display: block;
    height: 100%;
    background-image: url("../images/map.png");
    background-size: 125%;
    background-position: top center;
}

#map .place_pin {
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    top: 4em;
    left: 4em;
}

#routes_map_page {
    height: 100%;
}

#routes_map_page .top_bar {
    background: #444444;
    opacity: .75;
}

#routes_page {
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #060606 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#060606)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#060606 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#060606 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#060606 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#060606 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#060606',GradientType=0 ); /* IE6-9 */

    color: white;
}

#routes_page .padded_content_wrapper {
    background-image: url("../images/roads.png");
    background-size: 80%;
    background-position: center right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

#routes_form .button {
    float: right;
}

#invite_form .button {
	float: right;
}

#place_page .details_col {
    float: left;
    width: 58%;
}

#place_page .details_col .button {
    width: 100%;
    margin-bottom: .5em;
    box-sizing: border-box;
}

#place_page .image_col {
    float: right;
    width: 38%;
}

#place_page .image_col img {
    width: 96%;
    padding: 4%;
    background-color: white;
    box-shadow: 0px 0px 4px #ccc;
    margin-bottom: .5em;
}

#place_page section {
    padding: .7em;
    background-color: white;
    box-shadow: 0px 0px 4px #ccc;
    margin-bottom: 1em;
    color: #666;
    line-height: 22px;
}

.est_time {
    margin-bottom: .5em;
}

.rating_stars {
    width: 87px;
    height: 17px;
    background-image: url("../images/rating_stars_small.png");
    background-repeat:no-repeat;
    margin-bottom: .7em;
}

.stars5 {background-position: 0px 0px;}
.stars45 {background-position: 0px -17px;}
.stars4 {background-position: 0px -34px;}
.stars35 {background-position: 0px -51px;}
.stars3 {background-position: 0px -68px;}
.stars25 {background-position: 0px -85px;}
.stars2 {background-position: 0px -102px;}
.stars15 {background-position: 0px -119px;}
.stars1 {background-position: 0px -136px;}
.stars05 {background-position: 0px -153px;}
.stars0 {background-position: 0px -170px;}

/* only apply these margins when the content wrapper is a direct descendant of the page wrapper */
.page_wrapper > .padded_content_wrapper {
    padding: 1.75em;
    padding-bottom: 6.5em;
}

.top_bar + .padded_content_wrapper {
    margin-top: 2.6em;
}

.page_wrapper > .bar_list_wrapper, .page_wrapper > .tabbed_content_wrapper {
    margin-bottom: 4.3em;
    margin-top: 2.6em;
}

#pages > div.current {
    display: block;
}

/* top bar */
.top_bar {
    height: 2.6em;

    background: #555555; /* Old browsers */
    background: -moz-linear-gradient(top,  #555555 0%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #555555 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #555555 0%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #555555 0%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #555555 0%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

    color: white;
    text-shadow: 0px 2px black;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;
}

.top_bar .back {
    color: #aaa;
    float: left;
    width: 2.6em;
    height: 2.6em;
    display: none;
    border-right: 1px solid #555;
}

.top_bar h1 {
    float: left;
    padding: .8em;
}

/* only apply this left border if the h1 is directly preceded by a displayed
 * back button (one that hasBack)
 */
.top_bar .back.hasBack + h1 {
    border-left: 1px solid #222;
}

.back.hasBack {
    display: block;
}

/* content lists */
.bar_list li {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #a9a9a9;

    position: relative;
}

.bar_list li a {
    display: block;
    padding: 1em;
    -webkit-tap-highlight-color: rgba(0,0,0,.2);
    text-decoration: none;
}

.bar_list li a * {
    pointer-events: none;
}

.bar_list li h2 {
    color: #333333;
    text-shadow: 0px 1px #ffffff;
    margin-bottom: ..06em;
}

.bar_list li span {
    color: #999999;
    font-size: .8em;
}

.bar_list_page {
    background-color: #333;
    box-shadow: inset 0px 0px 14px #000;
}

.chevron {
    background-image: url("../images/chevrons.png");
}

.bar_list .chevron {
    width: 15px;
    height: 24px;
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -12px;

    background-position: top right;
    background-size: 30px;
    
}

.back .chevron {
    width: 15px;
    height: 24px;
    position: absolute;
    left: .8em;
    top: 50%;
    margin-top: -12px;

    background-position: bottom left;
    background-size: 30px;
}

/* picture box */
.picture_boxes_wrapper {
    text-align: center;
    padding: 1em;
    padding-bottom: 6.5em;
    margin-top: 2.6em;
}

.picture_box {
    width: 8.6em;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 8px #aaa;
    display: inline-block;
    margin: .6em;

    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f0f0 67%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f0f0 67%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f0f0 67%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f0f0 67%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f0f0 67%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;

    overflow: hidden;

}

.picture_box .picture {
    display: block;
    background-color: #ccc;
    height: 8.6em;
}

.picture_box .info {
    text-align: left;
    padding: .6em;
    box-shadow: inset 0px -2px 8px #eee;
    background-image: url("../images/noise.png");
    text-shadow: 0px 1px #fff;
    color: #444;
    line-height: 20px;
    border-top: 1px solid white;

}

/* routes form */
#logo {
    width: 40%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6em;
    display: block;
    min-height: 113px;
}

#via_buttons {
    background-color: #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    height: 30px;
}

#via_buttons li {
    float: left;
    width: 25%;
}

#via_buttons li a {
    display: block;
    height: 30px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    color: #333;
    text-align: center;
    font-size: .8em;
    padding-top: .5em;
}

.top_tabs {
    background-color: #666;
    box-shadow: inset 0px -4px 8px #555;
    padding-top: .5em;
    padding-left: .4em;
    border-bottom: 5px solid #e0e0e0;
}

.top_tabs a {
    display: inline-block;
    min-width: 6em;
    padding: .6em;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    background-color: #c0c0c0;
    box-shadow: inset 0px -4px 4px #aaa;
    color: #666;
    text-shadow: 0px 1px #ddd;

    /* disable tab highlight color for these because of a bug */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.top_tabs a.active {
    box-shadow: none;
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

    color: #333;
    text-shadow: 0px 1px #fff;
}

.tab_content > div {
    display: none;
}

.tab_content .active {
    display: block;
}

.tab_content .padded_content_wrapper {
    padding: 1.75em;
}

.tab_content .bar_list_wrapper {
    margin: 0;
}

/* transitions */
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 300ms;
}

/* fade */

.fade.in {
    -webkit-animation-name: fade-in;
    z-index: 10;
}

.fade.out {
    z-index: 0;
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* slide */
.push.out {
    -webkit-animation-name: outToLeft;
}

.push.in {
    -webkit-animation-name: inFromRight;
}

@-webkit-keyframes outToLeft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes inFromRight {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes inFromLeft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

.push.in.reverse {
    -webkit-animation-name: inFromLeft;
}

@-webkit-keyframes outToRight {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(100%); }
}

.push.out.reverse {
    -webkit-animation-name: outToRight;
}

/* show */

.show.in {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 10ms;
}